<!DOCTYPE html>
<html lang="es" xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta charset="UTF-8"></meta>
	<meta name="viewport" content="width=device-width, initial-scale=1.0"></meta>
</head>
<body style="background: #efeeed;font-family: Arial, Verdana, Helvetica, sans-serif;margin: 0;padding: 0; ">
	<div style="max-width: 600px;width: 100%;margin: 0 auto;min-width:320px;">
		<div style="font-family: Arial, Verdana, Helvetica, sans-serif;font-weight: normal;font-size: 11px;line-height: 12px;color: #6e6e6e;text-align: center;margin: 0;padding: 5px 0 0px;">
		</div>
		<div style="background-color: #fff;padding: 25px 18px 5px 18px;">
			<div style="color: #121212;font-family: Helvetica,Arial,sans-serif;font-size: 14px;font-weight: 400;line-height: 1.3;margin: 0;padding: 10px 0px 0px 0px;text-align: left;">
				<p style="margin: 0;margin-bottom: 0;margin-left: 32px;margin-right: 32px;color: inherit;font-family: Helvetica,Arial,sans-serif;font-size: 34px;font-weight: 700;line-height: 25px!important;padding: 0;text-align: left;word-wrap: normal;">			
					<span style="color: #104971;font-size: 14px;font-family: Arial;font-weight: bold">Estimado(a):</span>

				</p>
			</div>
			<div style="font-size: 13px;color: #0984C2;font-family: Arial;font-weight: 400;line-height: 19px;margin: 0;margin-bottom: 0px;margin-left: 32px;margin-right: 32px;padding: 0;padding-top: 17px;text-align: justify;">
				<p>Se informa que ha concluido la evaluación de la solicitud de inscripción en el Registro de Empresa Supervisoras:</p>
				<table style="font-size: 13px;color: #0984C2">
					<tr th:if= "${resultado != null}"><td>	Resultado: </td><td>:</td><td>[[${resultado}]]</td></tr>
					<tr th:if= "${nroExpediente != null}"><td>N° expediente SIGED:</td><td>:</td><td>&nbsp;[[${nroExpediente}]]</td></tr>
					<tr th:if= "${codigoRuc != null}"><td>Número de RUC</td><td>:</td><td>&nbsp;[[${codigoRuc}]]</td></tr>
					<tr th:if= "${razonSocial != null}"><td>Razón Social / Apellidos y Nombres: </td><td>:</td><td>&nbsp;[[${razonSocial}]]</td></tr>
					<tr th:if= "${fechaIngreso != null}"><td>Fecha de Ingreso:</td><td>:</td><td>[[${fechaIngreso}]]</td></tr>
				</table>
				
				<p style="color: #0984C2;">Sistema de Contratación de Empresas Supervisoras</p>
			</div>
		</div>	
		<div style="background-color: #fff;padding: 0px 18px 5px 18px;">
			<div style="font-size: 11px;color: #0984C2;font-family: Arial;font-weight: 400;line-height: 19px;margin: 0;margin-bottom: 20px;margin-left: 32px;margin-right: 32px;padding: 0;padding-top: 17px;text-align: justify;">
				<p>
					<br>
					<span style="font-weight: bold"></span><br>	
					Atentamente,<br>
					Sistema de Registro y Contratación de Empresas Supervisoras<br>
					Gerencia de Administración y Finanzas<br>
					Osinergmin 
				</p>			
			</div>	
		</div>
		<div style="background-color: #fff;padding: 25px 15px 30px 15px;text-align: center;">
			<img alt="logo" class="footer-brand-logo-img" th:src="${logo}" style="clear: both; display: inline-block; margin-bottom: 5px; max-width: 80%; outline: 0px; text-decoration: none;"></img>
		</div>
		<div style="font-family: Arial, Verdana, Helvetica, sans-serif;font-weight: normal;font-size: 11px;line-height: 12px;color: #6e6e6e;text-align: center;margin: 0;padding: 5px 0 0px;">
		</div>
	</div>
</body>
</html>